<!DOCTYPE html>
<html>

<head>
  <title> Ballot's result </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/result.css">
</head>

<body>

  <!-- background image -->
  <div class="bgimg w3-display-container">
    
    <%- include ../misc/logo.ejs %>
    <%- include ../misc/home-icon.ejs %>

    <img src="/assets/images/happy-tux.gif" class="happy-tux" alt="Happy tux gif">

    <div class="container">
      <ul class="responsive-table">

        <li class="table-row result-title w3-blue">
          <div class="col-100"><strong> Final Result </strong></div>
        </li>

        <li class="table-header">
          <div class="col-30">Role</div>
          <div class="col-30">Candidate</div>
          <div class="col-30">Votes</div>
        </li>

        <% for (const role of roles) { %>
        <% for (const candidate of candidatesPerRolePerVote[role]) { %>
        <li class="table-row">
          <div class="col-30"> <%= role %> </div>
          <div class="col-30"> <%= candidate.name %> </div>
          <div class="col-30"><%= candidate.votes %></div>
        </li>
        <% } %>
        <% } %>
      </ul>
    </div>
    <br>
  </div>

</body>
</html>