<!DOCTYPE html>
<html>

<head>
  <title> Home </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href="/css/common.css" />
</head>

<body>

  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

    <%- include ../misc/logo.ejs %>
    <%- include ../misc/home-icon.ejs %>

    <!-- message -->
    <div class="w3-display-middle">
      <!-- <h1 class="w3-jumbo w3-animate-top"> Please check you email inbox!</h1> -->
      <h2 class="w3-jumbo w3-animate-top"> Make your choice, anonymously!</h2>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">How does it work? </p>
      <p class="w3-large w3-center">
        You vote through a one-time voting link your receive in you email inbox.<br>
        Voting links are not mapped to email addresses, thus, the "anonymously" part.
      </p>
      <!-- <p class="w3-large w3-center">Voting links are not mapped to email addresses, thus, the "anonymously" part.</p> -->
    </div>
    <br>

    <!-- open ballots -->
    <div class="w3-display-bottomright w3-margin">
      <h3 class="w3-center">Currently open ballots</h3>
      <ul class="w3-ul w3-card-4">
        <% if (openBallots.length === 0) { %> 
          <li class="w3-bar w3-white">
            <div class="w3-bar-item">
              <h4 class="w3-large dark-blue"> Nothing for now ! </h4>
            </div>
          </li>
        <% } %> 
        <% for (const item of openBallots) { %>
          <li onclick="location.href='/results/<%= item.ballotName %>';" class="w3-bar w3-white w3-margin-top pointer">
            <div class="w3-bar-item">
              <h4 class="w3-large dark-blue"> <%= item.ballotName.charAt(0).toUpperCase() + item.ballotName.slice(1) %> </h4>
              <p class="light-blue">Started on: <span class="date"> <%= item.startDate %> </span> </p>
              <p class="light-blue">Ends on: <span class="date"> <%= item.endDate %> </span> </p>
              <p class="light-blue">
                <span> Total voters: <%= item.tokens.length %> </span> &nbsp;
                <span> Voted: <%= item.expiredTokens.length %> </span>
              </p>
            </div>
          </li>
        <% } %>
      </ul>
    </div>

    <!-- recent ballots -->
    <div class="w3-display-bottomleft">
      <h3 class="w3-center w3-margin-left">Recently closed ballots</h3>
      <ul class="w3-ul w3-card-4">
        <% if (recentlyClosedBallots.length === 0) { %> 
          <li class="w3-bar w3-white w3-margin">
            <div class="w3-bar-item">
              <h4 class="w3-large dark-blue"> Nothing for now ! </h4>
            </div>
          </li>
        <% } %> 
        <% for (const item of recentlyClosedBallots) { %>
          <li onclick="location.href='/results/<%= item.ballotName %>';" class="w3-bar w3-white w3-margin pointer">
            <div class="w3-bar-item pointer">
              <h4 class="w3-large dark-blue"> <%= item.ballotName.charAt(0).toUpperCase() + item.ballotName.slice(1) %> </h4>
              <p class="light-blue">Started on: <span class="date"> <%= item.startDate %> </span> </p>
              <p class="light-blue">Ended on: <span class="date"> <%= item.endDate %> </span> </p>
              <p class="light-blue">
                <span> Total voters: <%= item.tokens.length %> </span> &nbsp;
                <span> Voted: <%= item.expiredTokens.length %> </span>
              </p>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
  </div>

  <script src="/js/common.js"></script>
</body>

</html>
