<!DOCTYPE html>
<html>

<head>
  <title> Vote </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    body {
  color:#009dda;
  background-color:white;
  }
  </style>
  <title>Vote CLL</title>
</head>

<body>
  <h1>Vote page</h1>
  <p>Form goes here</p>

  
  <div class="container">
    <div class="main">
      <div class="main-center">
        <form action="" method="post">
          <% for (const role of roles) { %>
            <div>
              <h5> <%= role %> </h5>
              <div>
                <select name="<%= role %>" class="custom-select">
                  <option value=null selected> Please select a <%= role %> </option>
                  <% for (const name of candidatesPerRole[role]) { %>
                    <option value="<%= name %>"> <%= name %> </option>
                  <% } %>
                </select>
                </div>
            </div>
            <br>
            <br>
          <% } %>

          <br>
          <br>
          <button type="submit" class="btn btn-info">Submit</button>
          <!-- <div><input type="submit" value="Submit"></div>   -->
        </form>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>