<li onclick="location.href='/results/<%= item.ballotName %>';" class="w3-bar w3-white w3-w3-<%= className %> pointer">
    <div class="w3-bar-item">
        <h4 class="w3-large dark-blue"> <%= item.ballotName.charAt(0).toUpperCase() + item.ballotName.slice(1) %> </h4>
        <p class="light-blue">Start date: <span class="date"> <%= item.startDate %> </span> </p>
        <p class="light-blue">End date: <span class="date"> <%= item.endDate %> </span> </p>
        <p class="light-blue">
            <span> Total voters: <%= item.tokens.length + item.expiredTokens.length %> </span> &nbsp;
            <span> Voted: <%= item.expiredTokens.length %> </span>
        </p>
    </div>
</li>
